    hr {
        clear: both;
    }

    .top-section {
        font-size: 12px;
        text-align: left;
        line-height: 1;
        border-bottom: 1px solid grey;
        border-top: 1px solid grey;
        margin: 20px 40px 0px 0px;
    }

    .top-underlying {
        padding: 0;
        padding-top: 15px;
        padding-bottom: 5px;
    }

    .col-sm-legend2 {
        width: 19.4444444444%;
        padding: 0px;
    }

    .remove-padding {
        padding: 0px;
    }

    #horizon-bands {
        float: right;
    }

    button {
        background-color: grey;
        border: 1px solid grey;
        color: black;
        font-family: OTSolidRegular;
        width: 120px;
        cursor: pointer;
        border-radius: 0px;
        float: left;
        padding: 3px;
        margin: 0px 0px 0px 10px;
    }

    button:hover {
        background-color: white;
    }

    .selected {
        background-color: white;
        outline: none
    }

    body {
        background-color: black;
        font-family: OTSolidRegular;
        max-height: 1200px;
        color: white;
    }

    h3 {
        font-family: OTSolidRegular;
        font-size: 20px;
    }

    .rightBorder {
        border-right: 1px solid grey;
    }

    img.legendPic {
        width: 100%;
        margin-top: 20px;
        padding: 10px;
    }

    .legendNum {
        position: absolute;
        top: 35px;
        left: 15px;
        font-family: OTSolidRegular;
    }

    #wrapper {
        position: relative;
        max-width: 800px;
        height: 1150px;
        overflow: hidden;
        text-align: center;
        margin: 0 auto;
    }

    #visual-container {
        position: relative;
        margin-top: 70px;
        height: 650px;
    }

    #long-axis {
        position: absolute;
        margin-top: -30px;
    }

    #horizon-chart {
        position: absolute;
        z-index: 9999;
    }

    #horizon-controls button {
        text-align: center;
    }

    .axis {
        fill: white;
        font-size: 8px;
        shape-rendering: crispEdges;
    }

    .x-axis {
        position: absolute;
        font-family: OTSolidRegular;
    }

    .y-axis {
        font-family: OTSolidLight;
    }

    .tick line {
        stroke-width: 1;
        stroke: grey;
        shape-rendering: crispEdges;
    }

    #long-axis .tick text {
        font-size: 11px;
    }

    .domain {
        display: none;
    }

    .title-bg {
        fill: black;
        padding: 4px;
        height: 18px;
    }

    .titles {
        fill: white;
        color: white;
        font-size: 11px;
        font-weight: bold;
        font-family: Arial;
    }

    .tooltip {
        color: white;
        position: absolute;
    }

    .tooltip-text {
        font-size: 10px;
        shape-rendering: crispEdges;
        font-family: OTSolidBold;
    }

    .legend {
        font-family: Arial;
        text-align: left;
        color: white;
    }

    #legend-chart .tooltip-container {
        display: none;
    }

    #legend-container {
        margin-right: -70px;
        margin-top: 87px;
    }

    #headline-text {
        font-family: Arial;
        font-weight: bold;
    }

    p.legend-title {
        font-family: OTSolidRegular;
    }

    .last {
        display: block;
        margin-top: 20px;
    }

    .annotations-container,
    .legend-container {
        margin: 10px 40px 10px 20px;
    }

    .annotations-container .col-5x {
        padding: 0 10px 0 0;
        margin-bottom: 15px;
    }

    .annotation a:hover {
        text-decoration: underline;
    }

    .annotation {
        text-align: left;
        line-height: 1;
    }

    .annotation span {
        display: block;
        text-align: center;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        background-color: white;
        padding-top: 6px;
        font-size: 10px;
        color: black;
    }


    .annotation a,
    .legend-container {
        font-size: 12px;
        text-decoration: none;
        color: white;
        font-family: Arial;
        text-align: left;
        margin: 0;
        margin-right: 20px;
    }

    .annotation p {
        margin-top: 10px;
    }

    .annotation-circles text {
        font-size: 10px;
    }

    /* Classes for 5 column grid */

    .col-5x {
        width: 20%;
        float: left;
    }

    .col-sm-legend {
        width: 19.444444444%;
        float: left;
        padding: 10px 10px 10px 0px;
    }

    .col-5x-2 {
        width: 40%;
        float: left;
    }

    @media (max-width: 500px) {

        button {
            margin: 0;
        }
        .top-section {
            margin-right: 0px;
            margin-left: 0px;
        }

        .rightBorder {
            border-right: 0px solid grey;
        }

        .col-sm-legend2 {
            display: none;
        }

        #visual-container,
        #horizon-chart {
            margin-left: 20px;
        }

        #visual-container {
            margin-top: 50px;
        }

        .annotations-container,
        .legend-container {
            margin: 20px;
            margin-top: 0;
            margin-left: 30px;
        }

        .legend-container {
            margin-top: -30px;
        }

        .annotation p {
            margin-top: -20px;
            margin-left: 25px;
            margin-bottom: 20px;
        }

        .col-sm-legend {
            width: 100%;
            float: left;
            padding: 0px;
        }
    }

    @font-face {
        font-family: OTSolidLight;
        src: url(/font/oxidesolidot-light-webfont.ttf);
    }

    @font-face {
        font-family: OTSolidRegular;
        src: url(/font/oxidesolidot-webfont.ttf);
    }

    @font-face {
        font-family: OTSolidBold;
        src: url(/font/oxidesolidot-bold-webfont.ttf);
    }