    hr {
        clear: both;
    }

    p {
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    text {
        text-rendering: geometricPrecision;
    }

    .top-section {
        font-size: 12px;
        text-align: left;
        margin: 10px 42px 0px 5px;
        line-height: 1;
        border-bottom: 1px solid grey;
        border-top: 1px solid grey;
    }

    .top-underlying {
        padding: 0;
        padding-top: 15px;
        padding-bottom: 5px;
    }

    .col-sm-legend2 {
        width: 19.4444444444%;
        padding: 0px;
    }

    #horizon-bands {
        /* float: right;*/
    }

    button {
        background-color: grey;
        border: 1px solid grey;
        color: black;
        font-family: OTSolidBold;
        cursor: pointer;
        border-radius: 0px;
        float: right;
        height: 22px;
        padding: 3px;
        width: 45%;
        padding-top: 5px;
    }

    button.area {
        margin-left: 15px;
    }

    button.horion {}

    button:hover {
        background-color: white;
    }

    .remove-padding {
        padding: 0px;
    }

    .remove-padding-right {
        padding-right: 0px;
    }

    .selected {
        background-color: white;
        outline: none
    }

    body {
        background-color: black;
        font-family: OTSolidRegular;
        max-height: 1200px;
        color: white;
    }

    h3 {
        font-family: BrandonBold;
        font-size: 18px;
    }

    .container-fluid h3 {
        margin-left: 5px;
    }

    .rightBorder {
        border-right: 1px solid grey;
    }

    img.legendPic {
        width: 100%;
        margin-top: 20px;
        padding: 10px;
        position: absolute;
        top: 2px;
    }

    .legendNum {
        position: absolute;
        top: 30px;
        left: 25px;
        font-family: OTSolidRegular;
    }

    #wrapper {
        position: relative;
        max-width: 800px;
        height: 1150px;
        overflow: hidden;
        text-align: center;
        margin: 0 auto;
    }

    #visual-container {
        position: relative;
        margin-top: 70px;
        height: 650px;
    }

    #long-axis {
        position: absolute;
        margin-top: -30px;
    }

    #horizon-chart {
        position: absolute;
        z-index: 9999;
    }

    #horizon-controls button {
        text-align: center;
    }

    .axis {
        fill: white;
        font-size: 11px;
        shape-rendering: crispEdges;
    }

    .x-axis {
        position: absolute;
        font-family: OTSolidRegular;
    }

    g.annotation-circles {
        pointer-events: none;
    }

    .y-axis {
        font-family: OTSolidLight;
    }

    .tick line {
        stroke-width: 1;
        stroke: grey;
        shape-rendering: crispEdges;
    }

    #long-axis .tick text {
        font-size: 12px;
    }

    .domain {
        display: none;
    }

    .title-bg {
        fill: black;
        padding: 4px;
        height: 18px;
    }

    .titles {
        fill: white;
        color: white;
        font-size: 11px;
        font-family: ProximaNova;
    }

    .tooltip {
        color: white;
        position: absolute;
    }

    .tooltip-text {
        font-size: 11px;
        shape-rendering: crispEdges;
        font-family: OTSolidBold;
        pointer-events: none;
    }

    .legend {
        font-family: ProximaNova;
        text-align: left;
        color: white;
    }

    #legend-chart .tooltip-container {
        display: none;
    }

    #legend-container {
        margin-right: -70px;
        margin-top: 87px;
    }

    p.legend-title {
        font-family: OTSolidRegular;
    }

    .last {
        display: block;
        margin-top: 20px;
    }

    .legend-container {
        margin: 10px 58px 10px 20px;
    }

    .annotations-container {
        margin: 10px 43px 17px 5px;
    }

    .annotations-container .col-5x {
        padding: 0 10px 0 0;
        margin-bottom: 15px;
    }

    .annotation a:hover {
        text-decoration: underline;
    }

    .annotation {
        text-align: left;
    }

    .annotation span {
        display: block;
        text-align: center;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        background-color: white;
        padding-top: 3px;
        font-size: 10px;
        color: black;
    }


    .annotation a,
    .legend-container {
        font-size: 12px;
        text-decoration: none;
        color: white;
        font-family: ProximaNova;
        text-align: left;
        margin-top: -20px;
    }

    .annotation p {
        margin-top: 10px;
    }

    .annotation-circles text {
        font-size: 10px;
    }

    @font-face {
        font-family: OTSolidLight;
        src: url(https://static.wired.com/projects/data-leaks/font/oxidesolidot-light-webfont.ttf);
    }

    @font-face {
        font-family: OTSolidRegular;
        src: url(https://static.wired.com/projects/data-leaks/font/oxidesolidot-webfont.ttf);
    }

    @font-face {
        font-family: OTSolidBold;
        src: url(https://static.wired.com/projects/data-leaks/font/oxidesolidot-bold-webfont.ttf);
    }

    @font-face {
        font-family: BrandonBold;
        src: url(https://static.wired.com/projects/data-leaks/font/brandontext-bold-webfont.ttf);
    }

    @font-face {
        font-family: ProximaNova;
        src: url(https://static.wired.com/projects/data-leaks/font/ProximaNova-Regular.otf);
    }
    /* Classes for 5 column grid */

    .col-5x {
        width: 20%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-sm-legend {
        width: 20%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-5x,
    .col-sm-legend,
    .col-5x-2 {
        float: left;
    }

    .col-5x-2 {
        width: 40%;
    }

    .col-5x-3 {
        width: 60%;
    }

    .top-section img {
        position: absolute;
        right: 15px;
        top: 2px;
    }
    /** MEDIA STYLES ***/

    @media (max-width: 760px) {
        /* Ipad */
        .rightBorder {
            border-right: 0px solid grey;
            margin-bottom: -10px;
        }
        .col-5x-2,
        .col-5x-3 {
            width: 100%;
        }

        .mobile--hide {
            display: none;
        }

        .mobile--padding0 {
            padding-left: 0px;
        }

        .top-section img {
            right: 0px;
        }

        .top-section {
            padding-bottom: 10px;
        }
    }

    @media (max-width: 500px) {

        #long-axis .tick text,
        .axis {
            font-size: 9px;
        }

        .tooltip-text {
            font-size: 10px;
        }

        img {
            width: 110px;
        }

        button {
            margin-left: 10px;
            width: 40%;
        }

        .top-section {
            margin-right: 0px;
            margin-left: 0px;
            font-size: 10px;
            padding-bottom: 0px;
        }

        #visual-container,
        #horizon-chart {
            margin-left: 20px;
        }

        #visual-container {
            margin-top: 50px;
        }

        .annotations-container,
        .legend-container {
            margin: 20px;
            margin-top: 0;
            margin-left: 36px;
        }

        .legend-container {
            margin-top: -40px;
        }

        .annotation p {
            margin-top: -20px;
            margin-left: 25px;
            margin-bottom: 20px;
        }

        .col-sm-legend {
            width: 100%;
            float: left;
            padding: 0px;
        }

        h3 {
            font-size: 14px;
        }
    }

    @-moz-document url-prefix() {
        #chart-container svg {
            padding-top: 5px;
            margin-top: -10px;
        }
    }