    hr {
        clear: both;
    }

    button {
        background-color: white;
        border: 1px solid lightgrey;
        color: black;
        font-family: OTSolidBold;
        width: 140px;
        cursor: pointer;
    }

    button:hover {
        background-color: lightgrey;
    }

    .selected {
        background-color: lightgrey;
    }

    body {
        background-color: black;
        font-family: OTSolidRegular;
        max-height: 900px;
        color: white;
    }

    #super-container {
        position: relative;
        max-width: 800px;
        height: 1000px;
        overflow: hidden;
        text-align: center;
        margin: 0 auto;
    }

    #visual-container {
        position: relative;
        margin-top: 70px;
        height: 500px;
    }

    #long-axis {
        position: absolute;
        margin-top: -30px;
    }

    #horizon-chart {
        position: absolute;
        z-index: 9999;
    }

    #horizon-controls button {
        text-align: center;
    }

    .axis {
        fill: white;
        font-size: 8px;
        shape-rendering: crispEdges;
    }

    .x-axis {
        position: absolute;
        font-family: OTSolidRegular;
    }

    .y-axis {
        font-family: OTSolidLight;
    }

    .tick line {
        stroke-width: 1;
        stroke: white;
        shape-rendering: crispEdges;
    }

    .domain {
        display: none;
    }

    .title-bg {
        fill: black;
        padding: 4px;
        height: 18px;
    }

    .titles {
        fill: white;
        color: white;
        font-size: 10px;
        font-weight: bold;
        font-family: Arial;
    }

    .tooltip {
        color: white;
        position: absolute;
    }

    .tooltip-text {
        font-size: 9px;
        shape-rendering: crispEdges;
        font-family: OTSolidBold;
    }

    .legend {
        font-family: Arial;
        text-align: left;
        color: white;
    }

    #legend-chart .tooltip-container {
        display: none;
    }

    #legend-container {
        margin-right: -70px;
        margin-top: 87px;
    }

    #headline-text {
        font-family: Arial;
        font-weight: bold;
    }

    p.legend-title {
        font-family: OTSolidRegular;
    }

    .last {
        display: block;
        margin-top: 20px;
    }

    .annotations-container, .legend-container {
        margin: 10px 40px 10px 20px;
    }

    .annotations-container .col-5x {
        padding: 0 10px 0 0;
    }

    .annotation a:hover {
        text-decoration: underline;
    }

    .annotation {
        text-align: left;
        line-height: 0.85;
    }

    .annotation span {
        display: block;
        text-align: center;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        background-color: white;
        padding-top: 6px;
        font-size: 10px;
        color: black;
    }


    .annotation a, .legend-container {
        font-size: 12px;
        text-decoration: none;
        color: white;
        font-family: Arial;
        text-align: left;
    }

    .annotation p {
        margin-top: 10px;
    }

    foreignObject {
        font: 9px sans-serif;
        text-overflow: ellipsis;
        text-align: left;
        word-wrap: break-word;
        height: 100px;
        width: 220px;
        position: absolute;
        top: 0;
    }

    foreignObject body {
        background-color: transparent;
    }

    @font-face {
        font-family: OTSolidLight;
        src: url(/font/oxidesolidot-light-webfont.ttf);
    }

    @font-face {
        font-family: OTSolidRegular;
        src: url(/font/oxidesolidot-webfont.ttf);
    }

    @font-face {
        font-family: OTSolidBold;
        src: url(/font/oxidesolidot-bold-webfont.ttf);
    }
    /* Classes for 5 column grid */

    .col-5x {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }

    .col-5x-2 {
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%;
    }

    @media (min-width: 768px) {
        .col-5x {
            -ms-flex: 0 0 20%;
            flex: 0 0 20%;
            max-width: 20%;
        }
    }

    @media (min-width: 992px) {
        .col-5x {
            -ms-flex: 0 0 20%;
            flex: 0 0 20%;
            max-width: 20%;
        }
    }

    @media (min-width: 1200px) {
        .col-5x {
            -ms-flex: 0 0 20%;
            flex: 0 0 20%;
            max-width: 20%;
        }
    }