    #horizon-controls button {
        padding: 10px;
        background-color: white;
        border: 1px solid lightgrey;
        color: black;
        border-radius: 2px;
        font-family: OTSolidLight;
        width: 80px;
    }

    button:hover {
        background-color: #f7f7f7;
    }

    button.selected {
        background-color: blue;
        font-family: OTSolidLight;
    }

    body {
        background-color: black;
        font-family: OTSolidRegular;
    }

    #visual-container {
        position: relative;
        margin-top: 40px;
    }

    #long-axis {
        position: absolute;
        margin-top: -20px;
        margin-left: 50px;
    }

    #horizon-chart {
        position: absolute;
    }

    #horizon-controls {
        text-align: center;
    }

    .axis {
        fill: white;
        font-size: 8px;
        shape-rendering: crispEdges;
    }

    .x-axis {
        position: absolute;
        font-family: OTSolidRegular;
    }

    .y-axis {
        font-family: OTSolidLight;
    }

    .tick line {
        stroke-width: 1;
        stroke: white;
        shape-rendering: crispEdges;
    }

    .domain {
        display: none;
    }

    .title-bg {
        fill: black;
        padding: 4px;
        height: 18px;
    }

    .titles {
        fill: white;
        color: white;
        font-size: 10px;
        /*font-family: OTSolidRLight;
        text-transform: lowercase;*/
         font-family: Arial;
    }

    .tooltip {
        color: white;
        position: absolute;
    }

    .tooltip-text {
        font-size: 9px;
        shape-rendering: crispEdges;
    }

    .super-container {
        position: relative;
        width: 800px;
        height: 900px;
        overflow: hidden;
        text-align: center;
        margin: 0 auto;
    }

    .legend {
        color: white;
    }

    .legend p {
        font-family: Arial;
        text-align: left;
        font-size: 12px;

    }

    #legend-chart .tooltip-container {
        display: none;
    }

@font-face {
    font-family: OTSolidLight;
    src: url(font/oxidesolidot-light-webfont.ttf);
    }

@font-face {
    font-family: OTSolidRegular;
    src: url(font/oxidesolidot-webfont.ttf);
    }