    hr {
        clear: both;
    }

    button {
        background-color: white;
        border: 1px solid lightgrey;
        color: black;
        border-radius: 2px;
        font-family: OTSolidLight;
        width: 160px;
        padding: 10px;
        cursor: pointer;
    }

    body {
        background-color: black;
        font-family: OTSolidRegular;
    }

    #super-container {
        position: relative;
        max-width: 800px;
        min-width: 400px;
        height: 900px;
        overflow: hidden;
        text-align: center;
        margin: 0 auto;
    }

    #visual-container {
        position: relative;
        margin-top: 40px;
        height: 500px;
    }

    #long-axis {
        position: absolute;
        margin-top: -30px;
    }

    #horizon-chart {
        position: absolute;
        z-index: 9999;
    }

    #horizon-controls {
        text-align: center;
    }

    .axis {
        fill: white;
        font-size: 8px;
        shape-rendering: crispEdges;
    }

    .x-axis {
        position: absolute;
        font-family: OTSolidRegular;
    }

    .y-axis {
        font-family: OTSolidLight;
    }

    .tick line {
        stroke-width: 1;
        stroke: white;
        shape-rendering: crispEdges;
    }

    .domain {
        display: none;
    }

    .title-bg {
        fill: black;
        padding: 4px;
        height: 18px;
    }

    .titles {
        fill: white;
        color: white;
        font-size: 10px;
        font-family: Arial;
    }

    .tooltip {
        color: white;
        position: absolute;
    }

    .tooltip-text {
        font-size: 9px;
        shape-rendering: crispEdges;
    }

    .legend {
        color: white;
        display: block;
        padding: 20px;
    }

    .legend p,
    #legend-bands {
        font-family: Arial;
        text-align: left;
        font-size: 12px;
    }

    #legend-chart .tooltip-container {
        display: none;
    }

    #legend-chart {
      /*  float: right; 
        margin-top: 55px;*/
    }

    #legend-controls {
       /* float: left;
        width: 50%; */
        text-align: left;
        line-height: 1;
    }

    #legend-container {
        margin-right: -60px;
    }

    .legend .annotations {
        display: none;
    }

    .legend .title-container {
        display: none;
    }

    .legend img {
        float: right;
        margin-right: 40px;
        margin-bottom: 10px;
    }

    p.legend-title {
        font-family: OTSolidRegular;
    }

    .last {
        display: block;
        margin-top: 20px;
    }

    .annotations {
        font-size: 8px;
        text-align: center;
        z-index: 9999;
    }

    .annotations a {
        color: white;
        text-decoration: none;
    }

    .annotations a:hover {
        text-decoration: underline;
    }

    foreignObject {
        font: 9px sans-serif;
        text-overflow: ellipsis;
        text-align: left;
        word-wrap: break-word;
        height: 100px;
        width: 220px;
        position: absolute;
        top: 0;
    }

    foreignObject body {
        background-color: transparent;
    }

    path:first-child {
        fill: none !important;
    }

    #legend-container .add-gradient path:nth-child(2) {
        fill: url(#pathGradient) !important;
    }

    .stop1 {
        stop-color: #DAE8F3;
    }

    .stop2 {
        stop-color: #B4D2E6;
    }

    .stop3 {
        stop-color: #8FBBDA;
    }

   .stop4 {
        stop-color: #6AA4CD;
    }

    .stop5 {
        stop-color: #448EC1;
    }

    .stop6 {
        stop-color: #1F77B4;
    }

/* USING CSS GRID */

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
}

.col-md-7 {
    grid-column: span 7;
}

.col-md-6 {
    grid-column: span 6;
}

.col-md-5 {
    grid-column: span 5;
}

    @font-face {
        font-family: OTSolidLight;
        src: url(font/oxidesolidot-light-webfont.ttf);
    }

    @font-face {
        font-family: OTSolidRegular;
        src: url(font/oxidesolidot-webfont.ttf);
    }

    @media (max-width: 650px) {
        .legend {
            display: none;
        }

        foreignObject {
            height: 100px;
            width: 120px;
        }
    }